*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Rimouski";
    overflow-x: hidden;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5D4954;
}
.logo {
    color: rgba(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 20%;
}
.nav-links li{
    list-style: none;
    color: rgba(226, 226, 226);
}
.nav-links li a {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
}
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-top: 20px;
}
.row {
    margin: 0 -5px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    height: 200px;
}
.primary {
    display: flex;
    justify-content: center;
}